@import "../../scss/app.scss";

.profileMenu {
    position: absolute;
    background: $white-color;
    right: 0;
    top: 1rem;
    width: 120px;
    color: $black-color;
    padding: 1rem;
    z-index: 1;
    background-clip: padding-box;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    border-radius: .35rem;
    border: 1px solid $greyColor;

    .menuList {
        .menuItem {
            @include FontMedium($black-color);
            font-size: 0.9rem;
            padding: 0.5rem 0;
            cursor: pointer;
        }
    }
}