@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
$font-family : 'Amaranth';

// break-points
$mobile: 595px;
$tablet: 600px;
$ipad: 768px;
$laptop: 889px;
$desktop: 1200px;

// theme-color
$black-color: #003049;
$white-color: #F7F7F7;
$primaryColor: #14213D;
$secondaryColor: #AAAE7F;
$secondaryLightColor: #D0D6B3;
$greyColor: #EFEFEF;